<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Message</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" >
    {% load static %}
    <link rel="stylesheet" href="{% static 'error.css' %}">
</head>
<body>
    <section class="main">
        <h3>SORRY, we do not have a sentence for this word in our database. <br> You can write some sentences to populate our database with some more words.</h3>
        <div class="getword">
            <a href="{% url 'start' %}" class="btn btn-primary" type="button">Write Sentences</a>
            <a href="{% url 'API_test' %}" class="btn btn-primary" type="button">Go Back</a>
        </div>
    </section>
    
</body>
</html>